body{
    margin: 0;
    padding: 0;
}
.TitleBlur {
            font-family: 'Playfair Display', serif;
            font-size: 3.5rem;
            font-weight: 700;
            color: #000000;
            text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
            text-align: center;
          }